<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">OIDC Integration</h1>
        <p class="lead">Please Follow The Steps For Tally Data.</p>
        
    </section>
    <div class="row">
        <ul>
            <li>
                Attach the .tcp file in <strong>TallyPrime</strong> application settings.
                <ul>
                    <li>Start <strong>TallyPrime</strong>.</li>
                    <li>Click <strong>F1:Help</strong> &gt; <strong>TDL &amp; Add-on</strong> .</li>
                    <li>Click <strong>F4: Manage local TDLs</strong>.</li>
                </ul>
            </li>
        </ul>
        <p><img fetchpriority="high" decoding="async" class="alignnone size-full wp-image-123703" src="https://help.tallysolutions.com/wp-content/uploads/2020/09/TDL_Configuration-1.jpg" alt="" width="1717" height="371"></p>
        <ul>
            <li style="list-style-type: none;">
                <ul>
                    <li>
                        Enter the <span class="collapseomatic narrow colomat-close colomat-visited" id="id6659cc330a8e0" tabindex="0"> details </span><div id="excerpt-id6659cc330a8e0" class="collapseomatic_excerpt "> and accept the screen. </div><div id="target-id6659cc330a8e0" class="collapseomatic_content " style="">
                            details and accept the screen.

                            <ul>
                                <li>Specify <strong>Yes</strong> in the Load selected TDL files on startup field.</li>
                                <li>Choose <strong>file name</strong> from the directory path in the Filename field. You may <strong>navigate</strong> <strong>the directory</strong> through <strong>browse</strong> available or specify path by selecting the ‘<strong>Specify Path</strong>‘ option from the Table.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <hr />
        <ul>
            <li>
                Now provide The API Url in Tally
                <ul>
                    <li>Start <strong>TallyPrime</strong>.</li>
                    <li>Click <strong>F1:Help</strong> &gt; <strong>TDL &amp; Add-on</strong> .</li>
                    <li>Click <strong>F6: Addons Feature</strong>.</li>
                    <li>
                        Select Yes in
                        <strong>Enable Customize Integration Features</strong>.

                    </li>
                    <li>
                        Provide API Link Eg.
                        <strong>http://43.255.140.112:1111/</strong>.
                    </li>
                    <li>Press <strong>Ctrl + A  To Save</strong>.</li>
                </ul>
            </li>
        </ul>

        <hr />
        <ul>
            <li>
                How To Sync Stock Items
                <ol>
                    <li>Gateway of Tally.</li>
                    <li>Open : Customize Menu.</li>
                    <li>Open : Sync Items.</li>
                    <li>Press F4 For Sync</li>
                </ol>
            </li>
        </ul>
        <hr />
        <ul>
            <li>
                How To Sync Ledger
                <ol>
                    <li>Gateway of Tally.</li>
                    <li>Open : Customize Menu.</li>
                    <li>Sync Ledger Creditor.</li>
                    <li>Press F4 For Sync</li>
                </ol>
            </li>
        </ul>

    </div>
</main>